/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #254E41;
    color: white;
}

.btn-primary {
    background-color: #699F7A;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #578F62;
}

/* Main Content */
.main-content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.info-table th, .info-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.info-table th {
    background-color: #254E41;
    color: white;
}

.info-table td {
    background-color: white;
    color: #333;
}

.btn-back {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #254E41;
    padding: 30px 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.social-icons a:hover {
    color: #699F7A;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-links div {
    text-align: left;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ddd;
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin: 5px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}
